<%#
# custom-packages must be first, or apt will guess wrong which source
# our linux-meta packages came from (because they have the same versions)
# and go into a "downgrade" loop.
%>
<%= if :custom_packages_local in repositories do %>
deb [lang="none"] file:/var/custom-packages              ./
<% end %>
<%= if :custom_packages_remote in repositories do %>
deb [lang="none"] http://packages:mTzCZMfxDYj59LJHbWLWXQ@127.0.0.1:28000/ ./
<% end %>
deb http://<%= country %>.archive.ubuntu.com/ubuntu                  xenial          main restricted universe multiverse
deb http://<%= country %>.archive.ubuntu.com/ubuntu                  xenial-updates  main restricted universe multiverse
deb http://<%= country %>.archive.ubuntu.com/ubuntu                  xenial-security main restricted universe multiverse
<%= if :google_chrome in repositories do %>
deb [arch=amd64] http://dl.google.com/linux/chrome/deb/  stable main
<% end %>
<%= if :oracle_virtualbox in repositories do %>
deb http://download.virtualbox.org/virtualbox/debian     xenial contrib
<% end %>
<%= if :graphics_drivers_ppa in repositories do %>
deb http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu xenial main
<% end %>
<%= if :wine_ppa in repositories do %>
deb http://ppa.launchpad.net/wine/wine-builds/ubuntu     xenial main
<% end %>
